@font-face {
    font-family: "HEJI2Text";
    src: url("fonts/HEJI2Text.otf") format("opentype");
}
@font-face {
    font-family: "HEJI2";
    src: url("fonts/HEJI2.otf") format("opentype");
}
@font-face {
    font-family: "HEJIExtensions2022";
    src: url("fonts/HEJIExtensions2025-Text.ttf") format("opentype");
}
/*@font-face {
    font-family: "HEJI2Bravura";
    src: url("fonts/HEJI2Bravura.otf") format("opentype");
}*/
@font-face {
    font-family: "Plainsound Text";
    src: url("fonts/PlainsoundText-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Plainsound Text";
    src: url("fonts/PlainsoundText-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Plainsound Text";
    src: url("fonts/PlainsoundText-Italic.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    font-family: Menlo, Monaco, 'Courier New', monospace;
}

html {
    min-height: 100%;
    --bg-main: #424242; /* Changed to darker grey */
    --bg-header: #3a328a;
    --bg-button: #7c40a8;
    --bg-button-selected: #b5539e;
    --bg-button-clear: #7c40a8;
    --bg-button-get: #b5539e;
    --border-button: #e07b79;
    --color-palette-labels: #b5539e;
    --color-text: #f0f0f0;
    --color-em: #fcae68;
    --color-link: #e07b79;
    --color-link-hover: #fcae68;
    --color-input: #3a328a;
}

body {
    background-color: var(--bg-main);
    color: var(--color-text);
}

h1 {
    color: var(--color-text);
    font-weight: bold;
    font-size: 1.6rem;
    padding-bottom: 0.33rem;
    letter-spacing: 0.05rem;
}

h1 > span {
    font-weight: bold;
}

h2 {
    color: var(--color-text);
    font-size: 1.25rem;
}

h3 {
    font-weight: normal;
    color: var(--color-text);
    font-size: 1.25rem;
}

.software {
    padding-top: 1.2rem;
}

div {
    color: var(--color-text);
}

span {
    color: var(--color-text);
}

em {
    color: var(--color-em);
}

strong {
    color: var(--color-text);
}

a {
    text-decoration: none;
    color: var(--color-link);
}

p {
    text-align: center;
    color: var(--color-text);
    line-height: 1.35rem;
}

i {
    color: var(--color-text);
}

a:hover {
    color: var(--color-link-hover);
}



.precision {
    color: var(--color-text);
    text-align: center;
    padding: 1rem;
}

label {
    color: var(--color-text);
}

input {
    background-color: var(--color-input);
    color: var(--color-text);
    text-align: center;
    font-size: 1rem;
    border: none;
    border-radius: 0;
}

div.version {
    padding-bottom: 0.5rem;
}

.calc-container {
    display: grid;
    align-items: top;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 3rem;
}

.calc-container > div {
    text-align: center;
}

.refbox {
    min-width: 306px;
}

.palettebox {
    min-width: 350px;
}

.ratiobox{
    min-width: 250px;

}

.outputbox {
    min-width: 266px;
}

.outputbox p {
    padding-top: 0.2rem;
}

.melodicbox {
    min-width: 182px;
}

.scalabox{
    display: none;
    min-width: 176px;
}

.input-types {
    display: grid;
    grid-template-columns: auto auto;
}

.software-bends {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5rem;
    row-gap: 0.2rem;
    padding-bottom: 0.25rem;
}

.software-type {
    text-align: right;
}

.bend {
    text-align: left;
}

.pbrange {
    padding-top: 0.25rem;
}

.first {
    padding-top: 0.75rem;
}

button {
    font-size: 1rem;
    background-color: var(--bg-button);
    color: var(--color-text);
    text-align: center;
    vertical-align: middle;
    border: 3px solid var(--border-button);
    padding: 0.125rem 0.375rem;
    margin: 0.25rem 0;
}

button.chromatic, .syntonic, .septimal, .undecimal, .tridecimal, .seventeen, .nineteen, .twentyThree, .twentyNine, .thirtyOne, .thirtySeven, .fortyOne, .fortyThree, .fortySeven, .fiftyThree, .fiftyNine, .sixtyOne, .sixtySeven, .seventyOne, .seventyThree, .seventyNine, .eightyThree, .eightyNine, .refAccidental, .spacer {
    height: 2.875rem;
    width: 2.8rem;
    border: 3px solid var(--border-button);
    position: relative;
    border-radius: 0;
    margin-top: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    line-height: 2.875rem; /* For vertical centering */
    padding: 0; /* To help with line-height centering */
    vertical-align: middle;
}

.label {
    color: var(--color-palette-labels);
    vertical-align: middle;
}

.octave, .notes, .refOctave, .refNote {
    border-radius: 0;
}

.chromatic, .syntonic, .septimal, .undecimal, .tridecimal, .seventeen, .nineteen, .twentyThree, .twentyNine, .thirtyOne, .thirtySeven, .fortyOne, .fortyThree, .fortySeven, .refAccidental {
    font-family: "HEJI2";
    font-size: 1.67rem;
    position: relative;
}

.refNote, .refOctave, .octave, .notes {
    font-size: 1rem;
}

.notationOutput{
    color: var(--color-text);
    font-size: 2.3rem;
    display: inline-flex;
    margin-top: 0.25rem;
    margin-bottom: 0;
    vertical-align: middle;
}

#num {
    color: var(--color-text);
    font-size: 1.5rem;
    text-decoration:underline;
    text-underline-offset: 0.175rem;
}

#den {
    margin-top: -0.3125rem;
    color: var(--color-text);
    font-size: 1.5rem;
}

.noteName{
    color: var(--color-text);
    font-family: Menlo, Monaco, 'Courier New', monospace;
    font-weight: normal;
    font-size: 2.3rem;
    display: inline;
    vertical-align: middle;
}

.clear {
    font-size: 1.3rem;
}

select {
    border: none;
    background-color: var(--color-input);
    color: var(--color-text);
    padding: -1rem;
    font-size: inherit;
}

.selected {
    background-color: var(--bg-button-selected);
    border: 3px solid var(--border-button);
}

.clearFreq, .clear, .clearSave, .clearMelodic, .clearMelodicSave, .clearInputRatio, .clearEnharmonic {
    border-radius: 0;
    background-color: var(--bg-button-clear);
    border: 3px solid var(--border-button);
}

.getMelodic, .getMelodicReference, .getCurrentPitch, .getEnharmonic {
    border-radius: 0;
    background-color: var(--bg-button-get);
    border: 3px solid var(--border-button);
}

.header-content {
    display: inline-flex;
    align-items: center;
    padding-top: 0.25rem;
}

.output-content {
    padding-bottom: 0.5rem;
}



.enharmonic-search {
    display: none;
    width: 100%;
    text-align: center;
    padding-top: 3rem;
}

table.enharmonic-table {
    margin-left:auto; 
    margin-right:auto;
}

table.enharmonic-table > tr, td, th {
    padding: 1rem;
}



.fiftyThree, .fiftyNine, .sixtyOne, .sixtySeven, .seventyOne, .seventyThree, .seventyNine, .eightyThree, .eightyNine {
    font-family: "HEJIExtensions2022", "HEJI2", sans-serif;
    font-size: 1.67rem;
    border-radius: 0;
    top: -2px; /* Adjust vertical position */
}

.palette {
    white-space: nowrap;
}

#cents {
    font-family: "Plainsound Text", sans-serif;
}

#midiNote {
    font-family: "Plainsound Text", sans-serif;
}

.heji-extensions {
    font-family: "HEJIExtensions2022", sans-serif;
    letter-spacing: 0.05em;
}

.heji2 {
    font-family: "HEJI2", "HEJI2Text", sans-serif;
}